.container{
    background-color: cyan;
    width: 100%;
    height: 655px;
    position: fixed;
}
.card{
    background-color: #00008b9e;
    width: 30%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 15%;
    h1{
        text-align: center;
        padding-top: 30px;
    }
    .form-group{
       margin-left: 120px;
       padding:10px;
    }
    .form-group label{
        margin-left: 40px;
    }
}
    a{
       color: red;
      // padding-left: 160px;
    }

